.post{
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post{
    margin-top: 2rem;
}

.post > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time{
    font-size: 0.875rem;
    color: var(--gray-400)
}
